My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cognify-v0",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4d46d305-2089-4f2a-af50-a92f65b1ada8",
      "name": "Webhook",
      "webhookId": "4c6c4d1c-f7f8-4911-b42d-5cbf7aa46c29"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/* ==================================\n * Normalize & Hash (Manual SHA-256)\n * Compatible with n8n webhook JSON:\n * {\n *   \"body\": { \"text\": \"...\" },\n *   \"headers\": { ... },\n *   ...\n * }\n * ==================================\n */\n\n// Manual SHA-256 implementation (no crypto import)\nfunction sha256(msg) {\n    function rightRotate(n, x) { return (x >>> n) | (x << (32 - n)); }\n    function choice(x, y, z) { return (x & y) ^ (~x & z); }\n    function majority(x, y, z) { return (x & y) ^ (x & z) ^ (y & z); }\n    function sigma0(x) { return rightRotate(2, x) ^ rightRotate(13, x) ^ rightRotate(22, x); }\n    function sigma1(x) { return rightRotate(6, x) ^ rightRotate(11, x) ^ rightRotate(25, x); }\n    function gamma0(x) { return rightRotate(7, x) ^ rightRotate(18, x) ^ (x >>> 3); }\n    function gamma1(x) { return rightRotate(17, x) ^ rightRotate(19, x) ^ (x >>> 10); }\n\n    var K = [\n      0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n      0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n      0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n      0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n      0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n      0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n      0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n      0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n    ];\n    var H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n\n    msg = unescape(encodeURIComponent(msg)); // UTF-8\n    var l = msg.length;\n    var N = Math.ceil((l + 9) / 64);\n    var M = new Array(N);\n\n    for (var i = 0; i < N; i++) {\n        M[i] = new Array(16);\n        for (var j = 0; j < 16; j++) {\n            var idx = i * 64 + j * 4;\n            M[i][j] =\n                ((msg.charCodeAt(idx) || 0) << 24) |\n                ((msg.charCodeAt(idx + 1) || 0) << 16) |\n                ((msg.charCodeAt(idx + 2) || 0) << 8) |\n                ((msg.charCodeAt(idx + 3) || 0));\n        }\n    }\n\n    // Padding\n    M[N - 1][((l % 64) >> 2)] |= 0x80 << (24 - 8 * (l % 4));\n    M[N - 1][14] = ((l * 8) / Math.pow(2, 32)) | 0;\n    M[N - 1][15] = (l * 8) & 0xffffffff;\n\n    var W = new Array(64);\n    var a, b, c, d, e, f, g, h;\n    for (var i = 0; i < N; i++) {\n        for (var t = 0; t < 16; t++) W[t] = M[i][t];\n        for (var t = 16; t < 64; t++) {\n            W[t] = (gamma1(W[t - 2]) + W[t - 7] + gamma0(W[t - 15]) + W[t - 16]) & 0xffffffff;\n        }\n        a = H[0]; b = H[1]; c = H[2]; d = H[3]; e = H[4]; f = H[5]; g = H[6]; h = H[7];\n        for (var t = 0; t < 64; t++) {\n            var T1 = (h + sigma1(e) + choice(e, f, g) + K[t] + W[t]) & 0xffffffff;\n            var T2 = (sigma0(a) + majority(a, b, c)) & 0xffffffff;\n            h = g; g = f; f = e; e = (d + T1) & 0xffffffff;\n            d = c; c = b; b = a; a = (T1 + T2) & 0xffffffff;\n        }\n        H[0] = (H[0] + a) & 0xffffffff;\n        H[1] = (H[1] + b) & 0xffffffff;\n        H[2] = (H[2] + c) & 0xffffffff;\n        H[3] = (H[3] + d) & 0xffffffff;\n        H[4] = (H[4] + e) & 0xffffffff;\n        H[5] = (H[5] + f) & 0xffffffff;\n        H[6] = (H[6] + g) & 0xffffffff;\n        H[7] = (H[7] + h) & 0xffffffff;\n    }\n\n    function toHex(n) {\n        let s = \"\";\n        for (let i = 7; i >= 0; i--) s += ((n >>> (i * 4)) & 0xf).toString(16);\n        return s;\n    }\n\n    return H.map(toHex).join(\"\");\n}\n\n// ==================================\n// MAIN EXECUTION\n// ==================================\nconst rawText = $json.body?.text;\n\nif (!rawText || typeof rawText !== \"string\") {\n    return {\n        error: true,\n        message: \"Expected JSON with body.text (string)\",\n        received_shape: $json\n    };\n}\n\n// 1️⃣ Normalize\nconst normalized_text = rawText\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/\\p{Diacritic}/gu, \"\")\n    .replace(/[.,!?;:\"'’(){}\\[\\]<>]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n// 2️⃣ Hash\nconst idea_id = sha256(normalized_text);\n\n// 3️⃣ Return\nreturn {\n    error: false,\n    raw_text: rawText,\n    normalized_text,\n    idea_id,\n    timestamp: new Date().toISOString(),\n    is_duplicate: false,\n    source: \"webhook\"\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "72ecdc5c-065a-4af4-8fae-179677d01f44",
      "name": "Normalize & Hash"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are a text analysis API. Your ONLY response must be a single, valid JSON object. Do not include ```json ... ``` markdown wrappers or any other text.\n\nAnalyze the following idea:\n\"{{ $json.normalized_text }}\"\n\nReturn a JSON object with two keys:\n1. \"sentiment\": One word (Positive, Negative, or Neutral).\n2. \"summary\": A 1-sentence summary of the idea.\n\nExample Response:\n{\"sentiment\": \"Positive\", \"summary\": \"This is a creative idea.\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        336
      ],
      "id": "a5cce3a4-ecf2-41ad-9d41-d8d20456f7da",
      "name": "Gemini Microtask (Sentiment)",
      "retryOnFail": false,
      "credentials": {
        "googlePalmApi": {
          "id": "0x7Pwy6QJHE2z1VD",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        0
      ],
      "id": "ad7b71b4-87f7-41ad-af27-517e5519126f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/* * ==================================\n * Decision Fusion (v9 - Confirmed)\n * ==================================\n * This version uses n8n's expression syntax\n * ($('...')) to correctly access the nested,\n * named input data, as you discovered.\n */\n\n// --- 1. Get Normalization Data ---\n// We use the n8n expression syntax to get the\n// data from the 'Normalize & Hash' node.\nconst normData = $('Normalize & Hash').item.json;\n\n// Check if we have the key data\nif (!normData || !normData.idea_id || !normData.normalized_text) {\n  return {\n    verdict: 'ERROR',\n    proof_id: null, timestamp: new Date().toISOString(),\n    components: {\n      deterministic: { is_duplicate: false, normalized_text: 'Unknown' },\n      ai_analysis: { summary: \"Critical error: 'Normalize & Hash' data was not found.\" }\n    }\n  };\n}\n\n// --- 2. Get Gemini Data ---\n// We get the output from the LLM chain node\n// (Note: Update 'Basic LLM Chain' if your node is named differently)\nconst geminiRawOutput = $('Basic LLM Chain').item.json.text;\n\n// --- 3. Parse Gemini Data ---\nlet geminiData = {};\ntry {\n  if (geminiRawOutput && typeof geminiRawOutput === 'string' && geminiRawOutput.trim() !== '') {\n    // Clean the string (it might still have markdown)\n    const jsonString = geminiRawOutput.replace(/```json\\n|```/g, '').trim();\n    geminiData = JSON.parse(jsonString);\n    \n    // Validate\n    if (!geminiData.sentiment || !geminiData.summary) {\n      throw new Error(\"Parsed JSON is missing 'sentiment' or 'summary' keys.\");\n    }\n  } else {\n    throw new Error('Gemini node returned no usable output.');\n  }\n} catch (e) {\n  // Gemini failed, but we still have the normData, so this is a \"soft\" error.\n  console.error('Failed to parse Gemini JSON:', geminiRawOutput, 'Error:', e.message);\n  geminiData = {\n    sentiment: 'unknown',\n    summary: 'AI analysis failed or returned invalid format.',\n    error_details: e.message,\n    raw_output: geminiRawOutput || null\n  };\n}\n\n// --- 4. Assemble Final Response ---\n// We can now safely use the data from Step 1\nconst { idea_id, normalized_text, timestamp, is_duplicate } = normData;\nconst verdict = is_duplicate ? 'DUPLICATE' : 'UNIQUE';\n\nconst finalResponse = {\n  verdict: verdict,\n  proof_id: idea_id,\n  timestamp: timestamp,\n  components: {\n    deterministic: {\n      is_duplicate: is_duplicate,\n      normalized_text: normalized_text\n    },\n    ai_analysis: {\n      model: 'models/gemini-2.5-flash', \n      sentiment: geminiData.sentiment,\n      summary: geminiData.summary,\n      ...(geminiData.error_details && { \n        error_details: geminiData.error_details,\n        raw_output: geminiData.raw_output\n      })\n    }\n  }\n};\n\nreturn finalResponse;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "f8e0c6bd-a0c9-4e41-9b86-702c451a3be1",
      "name": "Decision Fusion"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI evaluator for idea originality and sentiment.\nAnalyze the following idea and return a valid JSON object with exactly two keys:\n- sentiment: \"Positive\", \"Negative\", or \"Neutral\"\n- summary: a concise one-sentence summary of the idea.\n\nIdea: {{$json.normalized_text}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        0
      ],
      "id": "a05c6139-0325-4708-90c7-91e8419b4835",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        224
      ],
      "id": "3e02e048-5d03-4730-b543-888df5505dae",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "0x7Pwy6QJHE2z1VD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize & Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Hash": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Microtask (Sentiment)": {
      "main": [
        []
      ]
    },
    "Decision Fusion": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Decision Fusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d29ec34-4680-4c98-8fd5-f67b173e6608",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e59d18abf175de5641251922b11518c4c2848f6be607abc2f1cec1c375611629"
  },
  "id": "ToWJ8rC2dADNWpTb",
  "tags": []
}