docs/versions/version_1/Cognify - Search.json
{
  "name": "Cognify - Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cognify-search",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -32
      ],
      "id": "1c2302cf-203a-42d1-bdfe-a0d323b04f33",
      "name": "Webhook",
      "webhookId": "4c6c4d1c-f7f8-4911-b42d-5cbf7aa46c29"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/* ==================================\n * Normalize & Hash (Manual SHA-256)\n * Compatible with n8n webhook JSON:\n * {\n *   \"body\": { \"text\": \"...\" },\n *   \"headers\": { ... },\n *   ...\n * }\n * ==================================\n */\n\n// Manual SHA-256 implementation (no crypto import)\nfunction sha256(msg) {\n    function rightRotate(n, x) { return (x >>> n) | (x << (32 - n)); }\n    function choice(x, y, z) { return (x & y) ^ (~x & z); }\n    function majority(x, y, z) { return (x & y) ^ (x & z) ^ (y & z); }\n    function sigma0(x) { return rightRotate(2, x) ^ rightRotate(13, x) ^ rightRotate(22, x); }\n    function sigma1(x) { return rightRotate(6, x) ^ rightRotate(11, x) ^ rightRotate(25, x); }\n    function gamma0(x) { return rightRotate(7, x) ^ rightRotate(18, x) ^ (x >>> 3); }\n    function gamma1(x) { return rightRotate(17, x) ^ rightRotate(19, x) ^ (x >>> 10); }\n\n    var K = [\n      0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n      0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n      0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n      0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n      0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n      0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n      0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n      0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n    ];\n    var H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n\n    msg = unescape(encodeURIComponent(msg)); // UTF-8\n    var l = msg.length;\n    var N = Math.ceil((l + 9) / 64);\n    var M = new Array(N);\n\n    for (var i = 0; i < N; i++) {\n        M[i] = new Array(16);\n        for (var j = 0; j < 16; j++) {\n            var idx = i * 64 + j * 4;\n            M[i][j] =\n                ((msg.charCodeAt(idx) || 0) << 24) |\n                ((msg.charCodeAt(idx + 1) || 0) << 16) |\n                ((msg.charCodeAt(idx + 2) || 0) << 8) |\n                ((msg.charCodeAt(idx + 3) || 0));\n        }\n    }\n\n    // Padding\n    M[N - 1][((l % 64) >> 2)] |= 0x80 << (24 - 8 * (l % 4));\n    M[N - 1][14] = ((l * 8) / Math.pow(2, 32)) | 0;\n    M[N - 1][15] = (l * 8) & 0xffffffff;\n\n    var W = new Array(64);\n    var a, b, c, d, e, f, g, h;\n    for (var i = 0; i < N; i++) {\n        for (var t = 0; t < 16; t++) W[t] = M[i][t];\n        for (var t = 16; t < 64; t++) {\n            W[t] = (gamma1(W[t - 2]) + W[t - 7] + gamma0(W[t - 15]) + W[t - 16]) & 0xffffffff;\n        }\n        a = H[0]; b = H[1]; c = H[2]; d = H[3]; e = H[4]; f = H[5]; g = H[6]; h = H[7];\n        for (var t = 0; t < 64; t++) {\n            var T1 = (h + sigma1(e) + choice(e, f, g) + K[t] + W[t]) & 0xffffffff;\n            var T2 = (sigma0(a) + majority(a, b, c)) & 0xffffffff;\n            h = g; g = f; f = e; e = (d + T1) & 0xffffffff;\n            d = c; c = b; b = a; a = (T1 + T2) & 0xffffffff;\n        }\n        H[0] = (H[0] + a) & 0xffffffff;\n        H[1] = (H[1] + b) & 0xffffffff;\n        H[2] = (H[2] + c) & 0xffffffff;\n        H[3] = (H[3] + d) & 0xffffffff;\n        H[4] = (H[4] + e) & 0xffffffff;\n        H[5] = (H[5] + f) & 0xffffffff;\n        H[6] = (H[6] + g) & 0xffffffff;\n        H[7] = (H[7] + h) & 0xffffffff;\n    }\n\n    function toHex(n) {\n        let s = \"\";\n        for (let i = 7; i >= 0; i--) s += ((n >>> (i * 4)) & 0xf).toString(16);\n        return s;\n    }\n\n    return H.map(toHex).join(\"\");\n}\n\n// ==================================\n// MAIN EXECUTION\n// ==================================\nconst rawText = $json.body?.text;\n\nif (!rawText || typeof rawText !== \"string\") {\n    return {\n        error: true,\n        message: \"Expected JSON with body.text (string)\",\n        received_shape: $json\n    };\n}\n\n// 1️⃣ Normalize\nconst normalized_text = rawText\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/\\p{Diacritic}/gu, \"\")\n    .replace(/[.,!?;:\"'’(){}\\[\\]<>]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n// 2️⃣ Hash\nconst idea_id = sha256(normalized_text);\n\n// 3️⃣ Return\nreturn {\n    error: false,\n    raw_text: rawText,\n    normalized_text,\n    idea_id,\n    timestamp: new Date().toISOString(),\n    is_duplicate: false,\n    source: \"webhook\"\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -32
      ],
      "id": "bb69a6b9-db8a-4dce-abad-ca32c59d7f0c",
      "name": "Normalize & Hash"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "ideas",
          "mode": "list",
          "cachedResultName": "ideas"
        },
        "prompt": "={{ $('Normalize & Hash').item.json.normalized_text }}",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -144,
        96
      ],
      "id": "77d4f6a6-2a86-4822-8eec-0fd34551b4bd",
      "name": "Qdrant Vector Store (Search)",
      "notesInFlow": false,
      "credentials": {
        "qdrantApi": {
          "id": "KbEQdjAPn0jA0Ij9",
          "name": "My Qdrant Cloud"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        320
      ],
      "id": "5f6cd475-bcc6-4eea-a527-228040202e51",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "0x7Pwy6QJHE2z1VD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1568,
        16
      ],
      "id": "18b1d306-e400-4113-b38a-bbebda74223e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef8f5fbb-6846-4906-aa80-2ef8bf63ad32",
              "leftValue": "={{ $json.score }}",
              "rightValue": 0.4,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        208,
        96
      ],
      "id": "449ba1fb-163d-4542-9731-79e3f5a27186",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "449b88ed-1195-4348-b039-9810ea5e00f7",
              "leftValue": "={{ $json.document }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        96
      ],
      "id": "abfee021-9013-435a-9dc8-f651960d9b47",
      "name": "If - Any matches found?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1707af2a-a97b-4ab7-a61b-d8e15e746531",
              "name": "=score",
              "value": 0,
              "type": "number"
            },
            {
              "id": "6cb3894e-372d-4b54-abc1-8ad76cb7446a",
              "name": "payload",
              "value": "={{ { \"normalized_text\": \"No close semantic matches found. This looks like a new path!\" } }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        160
      ],
      "id": "7de74282-3a54-4f7a-9b89-4dbe4da40ed3",
      "name": "No-match message"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a ruthless Technical Auditor. Your job is to grade the \"Implementation Detail\" of a user's idea on a scale of 0.0 to 1.0.\n\nThe User's Idea:\n\"{{ $json.normalized_text }}\"\n\n### SCORING RUBRIC\n- **0.0 - 0.3 (Blueprint Ready):** The idea describes specific mechanics, data flows, or user interactions. I could start coding this immediately.\n    * *Example:* \"A cooking app that presents daily knife-skill challenges with computer-vision grading.\" (Score: 0.2)\n- **0.4 - 0.6 (Feature List):** The idea lists specific features or functions, but lacks deep technical detail.\n    * *Example:* \"A platform with coding-style challenges for recipes where users get points for speed and accuracy.\" (Score: 0.5)\n- **0.7 - 1.0 (Lazy Abstraction):** The idea is a mere title, a vibe, or a naked analogy (\"X for Y\") without explaining *how* it works.\n    * *Example:* \"Leetcode for cooking.\" (Score: 0.9 - REJECT)\n    * *Example:* \"Uber for dogs.\" (Score: 0.8 - REJECT)\n    * *Example:* \"An app that helps you cook.\" (Score: 1.0 - REJECT)\n\n### THE \"LAZY ANALOGY\" RULE\nIf the user relies on a \"Likeness\" (e.g., \"It's like Tinder,\" \"Amazon for X\") **without** explicitly listing at least one unique feature or mechanic, you MUST score it **> 0.75**.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        688,
        -336
      ],
      "id": "1437c76a-ddc5-4c8b-ab93-efc83f32f1a2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        -112
      ],
      "id": "6507e23c-428c-4659-84f9-83cc20217d6f",
      "name": "Ambiguity index Calculator",
      "credentials": {
        "googlePalmApi": {
          "id": "0x7Pwy6QJHE2z1VD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        16
      ],
      "id": "bb8bdc12-ad53-4ba5-9cef-568a2dc875bf",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "### time inefficient",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        -432
      ],
      "typeVersion": 1,
      "id": "40c313ce-ec1b-4bfa-bed3-423614712530",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"reasoning\": \"The idea describes a specific mechanism involving infrared sensors, answering how it works clearly.\",\n  \"ambiguity_index\": 0.15\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        -128
      ],
      "id": "654aed81-9ba8-431b-9e12-b945d473a5e8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get all input items (The LLM result + The Search results)\nconst items = $input.all();\n\nlet ambiguityData = null;\nconst foundMatches = [];\n\n// 2. Iterate through all items to separate Analysis from Matches\nfor (const item of items) {\n  const data = item.json;\n\n  // A. Check for LLM Analysis (it has the 'output' field from the Structured Output Parser)\n  if (data.output) {\n    ambiguityData = data.output;\n  }\n\n  // B. Check for Matches (they have a 'document' field from Qdrant)\n  if (data.document) {\n    foundMatches.push({\n        score: data.score,\n        document: data.document,\n        id: data.id \n    });\n  }\n  // Note: We ignore the \"No-match message\" payload here. \n  // If that exists, 'foundMatches' stays empty [], which is exactly what we want.\n}\n\n// 3. Fallback if LLM failed for some reason\nif (!ambiguityData) {\n    ambiguityData = { ambiguity_index: 1.0, reasoning: \"Analysis data missing\" };\n}\n\n// 4. Return one clean object for the Webhook\nreturn {\n  ambiguity_analysis: ambiguityData,\n  matches: foundMatches\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        16
      ],
      "id": "5370b895-aaa9-4e03-91d2-cd844a92ab0c",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize & Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Hash": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store (Search)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store (Search)": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store (Search)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If - Any matches found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Any matches found?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "No-match message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No-match message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambiguity index Calculator": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dde8654c-35e8-40d2-8ea9-b43dc701b0d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e59d18abf175de5641251922b11518c4c2848f6be607abc2f1cec1c375611629"
  },
  "id": "4pMVS5waHYRIK9bO",
  "tags": []
}